<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="card-title">
                                <h1>
                                    <%= newsNotApprove.title %>
                                </h1>
                                <p class="fs-13 mb-1 text-muted">
                                    <span class="mr-2">
                                        <%= newsNotApprove.author %>
                                    </span>10 Minutes ago
                                </p>
                            </div>
                            <div class="row">
                                <div class="col-xl-9 col-lg-8 col-sm-6">
                                    <div class="d-flex justify-content-center">
                                        <img src="/uploads/imageNews/<%= newsNotApprove.image %>" alt="thumb"
                                            class="img-fluid">
                                    </div>
                                    <div class="description-news">
                                        <%- newsNotApprove.description %>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-4 col-sm-6">
                                    <div class="border-bottom pb-3 mb-3">
                                        <h4>Other news need approve</h4>
                                    </div>
                                    <div class="border-bottom pb-3 mb-3">
                                        <div class="row">
                                            <div class="col-sm-5 pr-2">
                                                <div class="rotate-img">
                                                    <img src="/images/dashboard/home_19.jpg" alt="thumb"
                                                        class="img-fluid w-100">
                                                </div>
                                            </div>
                                            <div class="col-sm-7 pl-2">
                                                <p class="fs-16 font-weight-600 mb-0">
                                                    Online shopping ..
                                                </p>
                                                <p class="fs-13 text-muted mb-0">
                                                    <span class="mr-2">Photo
                                                    </span>10
                                                    Minutes ago
                                                </p>
                                                <p class="mb-0 fs-13">
                                                    Lorem Ipsum has been
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="border-bottom pb-3 mb-3">
                                        <div class="row">
                                            <div class="col-sm-5 pr-2">
                                                <div class="rotate-img">
                                                    <img src="/images/dashboard/home_19.jpg" alt="thumb"
                                                        class="img-fluid w-100">
                                                </div>
                                            </div>
                                            <div class="col-sm-7 pl-2">
                                                <p class="fs-16 font-weight-600 mb-0">
                                                    Online shopping ..
                                                </p>
                                                <p class="fs-13 text-muted mb-0">
                                                    <span class="mr-2">Photo
                                                    </span>10
                                                    Minutes ago
                                                </p>
                                                <p class="mb-0 fs-13">
                                                    Lorem Ipsum has been
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="border-bottom pb-3 mb-3">
                                        <div class="row">
                                            <div class="col-sm-5 pr-2">
                                                <div class="rotate-img">
                                                    <img src="/images/dashboard/home_19.jpg" alt="thumb"
                                                        class="img-fluid w-100">
                                                </div>
                                            </div>
                                            <div class="col-sm-7 pl-2">
                                                <p class="fs-16 font-weight-600 mb-0">
                                                    Online shopping ..
                                                </p>
                                                <p class="fs-13 text-muted mb-0">
                                                    <span class="mr-2">Photo
                                                    </span>10
                                                    Minutes ago
                                                </p>
                                                <p class="mb-0 fs-13">
                                                    Lorem Ipsum has been
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="row">
                                            <div class="col-sm-5 pr-2">
                                                <div class="rotate-img">
                                                    <img src="/images/dashboard/home_19.jpg" alt="thumb"
                                                        class="img-fluid w-100">
                                                </div>
                                            </div>
                                            <div class="col-sm-7 pl-2">
                                                <p class="fs-16 font-weight-600 mb-0">
                                                    Online shopping ..
                                                </p>
                                                <p class="fs-13 text-muted mb-0">
                                                    <span class="mr-2">Photo
                                                    </span>10
                                                    Minutes ago
                                                </p>
                                                <p class="mb-0 fs-13">
                                                    Lorem Ipsum has been
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-6 col-lg-8 col-sm-6">
                            <form class="w-100 mt-5" method="POST"
                                action="<%= `/admin/news/need-approve/${newsNotApprove._id}/update?_method=PUT&state=illegal` %>">
                                <div class="form-group">
                                    <label for="note" class="text-black">Note some reasons</label>
                                    <input name="note" id="note" value="<%= newsNotApprove.note %>"
                                        placeholder="Note Something for Author" class="form-control" required></input>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary">Not Approve</button>
                                </div>
                            </form>
                        </div>
                        <div class="col-xl-6 col-lg-8 col-sm-6">
                            <form class="w-100 mt-5" method="POST"
                                action="<%= `/admin/news/need-approve/${newsNotApprove._id}/update?_method=PUT&state=legal` %>">
                                <div class="form-group">
                                    <label for="note" class="text-black">Note</label>
                                    <input name="note" id="note" placeholder="Note Something for Author"
                                        class="form-control" required></input>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary">Approve</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>